<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrow Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            text-align: center;
            border: 5px solid lime;
            padding: 20px;
            margin-top: 100px;
            background-color: white;
        }
        .btn {
            background-color: lime !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color:black;">Welcome to Arrow Game</h1>
        <h3><strong>Game Instructions:</strong>Follow the instrutions as fast as you can. You snooze, you loose!😂😂😂 </h3>
        <a href="/start_game" class="btn btn-primary">Start Game</a>
    </div>
</body>
</html>
